.shop {
    background-image: url(../img/shop-bg.png);
    background-repeat: no-repeat;
    background-position: right center;
    
    .slider-arrows {
        opacity: .25;
    }
}

.shop__slider {
    padding-left: 132px;
}

.shop__slider-inner {
    display: flex;
}

.shop__slider-info {
    max-width: 480px;
    margin-right: 40px;
    width: 100%;
    padding-top: 150px;
}

.shop__slider-price {
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    sup {
        font-size: 18px;
    }
    margin-bottom: 67px;
}

.star-list {
    display: flex;
    li {
        margin-right: 10px;
    }
}

.descr__head--shop {
    max-width: 340px;
    margin-bottom: 47px;
}

.shop__slider-content {
    padding-left: 170px;
    display: flex;
    align-items: flex-end;
}

.shop__extras {
    padding-left: 150px;
}

.shop__extras-inner {
    display: flex;
    
}

.shop__extras-title {
    font-weight: 800;
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 25px;
}

.shop__extras-box {
    min-width: 158px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 57px;
}

.shop__extras-img {
    width: 120px;
    height: 105px;
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    justify-content: center;
    img {
        width: 100%;
        height: auto;
    }
}

.shop__extras-name {
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    letter-spacing: 8px;
    opacity: .5;
    margin-bottom: 10px;
}

.shop__extras-price {
    font-weight: 800;
    font-size: 18px;
    line-height: 40px;
}

.surfboard {
    width: 228px;
    height: 695px;
    position: relative;
    img {
        width: 100%;
        height: 100%;
    }
}

.surfboard-box {
    position: absolute;
}

.surfboard__position--1 {
    right: 40px;
    top: 215px;
}

.surfboard__position--2 {
    left: -6px;
    top: 310px;
}

.surfboard__position--3 {
    left: 52px;
    bottom: 70px;
    .surfboard-box__content {
        padding-left: 0;
        padding-right: 104px;
        top: -15px;
        left: -400px;
        &::before {
            content: '';
            position: absolute;
            width: 80px;
            height: 1px;
            background-color: #fff;
            right: 0;
            left: auto;
            top: 50%;
        }
    }
}

.surfboard-box__circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #fff;
    cursor: pointer;
    &.active {
        .circle-row {
            transform: translate(-50%, -50%) rotate(0deg);
        }
    }
}

.surfboard-box__circle.active + .surfboard-box__content {
    display: block;
}

.circle-row {
    background-color: $green;
    position: absolute;
    width: 12px;
    height: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    & + .circle-row {
        transform: translate(-50%, -50%) rotate(90deg);
    }   
}

.surfboard-box__content {
    display: none;
    position: absolute;
    width: 359px;
    font-weight: 800;
    font-size: 24px;
    line-height: 24px;
    padding-left: 104px;
    top: -15px;
    left: 40px;
    &::before {
		content: '';
		position: absolute;
		width: 80px;
		height: 1px;
		background-color: #fff;
		left: 0;
		top: 50%;
	}
}

// Media 

@media (max-width: 1400px) {
    .shop__slider-content {
        padding-left: 40px;
    }
    .shop__slider-price {
        margin-bottom: 30px;
    }
}

@media (max-width: 1290px) {
    .shop__slider-content {
        justify-content: space-between;
    }
    .shop__extras-title {
        text-align: center;
    }
    .shop__slider {
        padding-left: 20px;
    }
    .shop__slider-inner {
        display: block;
    }
    .shop__slider-info {
        padding-top: 55px;
        padding-bottom: 50px;
    }
    .surfboard__position--3 .surfboard-box__content {
        left: 60px;
    }
    .surfboard__position--3 .surfboard-box__content::before {
        width: 20px;
        right: auto;
        left: -32px;
    }
}

@media (max-width: 860px) {
    .shop__extras-box {
        padding-right: 0;
        margin-right: 0;
    }
    .shop__extras {
        padding-right: 20px;
    }

    .shop__extras-inner {
        flex-direction: column;
    }
    .shop__extras-name, .shop__extras-price {
        margin: 0 auto 10px auto;
        text-align: center;
    }
}

@media (max-width: 780px) {
    .surfboard-box__content {
        padding-left: 0;
        &::before {
            display: none;
        }
    }
    .surfboard-box__content {
        font-size: 20px;
        width: 270px;
        text-align: center;
    }
    .surfboard__position--1 .surfboard-box__content {
        top: 31px;
        left: -172px;
    }
    .surfboard__position--2 .surfboard-box__content {
        top: 35px;
        left: -11px;
    }
    .surfboard__position--3 .surfboard-box__content {
        top: 35px;
        left: -70px;
        padding-right: 0;
    }
    
}

@media (max-width: 630px) {
    .shop__extras {
        padding: 0;
        margin: 0;
        &-inner {
            flex-direction: row;
        }
    }
    .shop__slider-content {
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }
    .surfboard {
        margin-bottom: 80px;
    }

}